:root {
  --primary_light: "#27ac1f1a";
  --avatar_upload_icon: "#e9f7e9";
  --verify_num_color: "#168cff";
  --facebook_color: "#1877f2";
  --gitHub_color: "#333";
  --linkedin_color: "#0a66c2";
  --twitter_color: "#14171a";
  --instagram_color: "#e1306c";
  --middle_border_color: "#eeeeee";
  --sidebar_bg: "#0e200d";
  --primary: "#27ac1f";
  --black: "#0b2a46";
  --gray: "#546a7e";
  --bgColor: "#f5f5f5";
  --bgColorDark: "#eeecec";
  --orange: "#ef7817";
  --orange_light: "#ffb80026";
  --lightGreen: "#00c177";
  --purple: "#4b56c0";
  --light_blue: "rgb(144, 182, 218)";
  --blueColor: "#00d7c4";
  --lightSkyBlue: "#00d7c41a";
  --blueColorLight: "rgba(0, 215, 196, 0.1)";
  --borderColor: "#546a7e4d";
  --border_light: "#0000001a";
  --whiteColor: "#ffffff";
  --red: "#f34141";
  --red_light: "#f341411a";
  --line_color: "#dfdddd";
  --textGray: "#565b65";
  --leftMenuBar: "#0e200d";
  --placeholder_color: "#636363";
  --yellow_light: "#ffb80024";
  --yellow: "#ffb800";
  --blue: "#3e5de6";
  --blue_light: "rgba(53, 91, 251, 0.1)";
  --shadow_color: "rgba(0, 0, 0, 0.36)";
  --divider_color: "#bfbfbf";
}
/* Custom Scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #aeaeae #f1f1f12e;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f12e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #aeaeae;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
